/* ==========================================================================
	Colors
	========================================================================== */

:root {
	--color-white: #fff;
	--color-black: #000;
	--color-dark: #151528;
	--color-green: #5fc383;
	--color-blue: #0178b3;
	--color-dark-blue: #1e247e;
	--color-light-blue: #69aef8;
}

/* ==========================================================================
	Z-index
	========================================================================== */

:root {
	--z-index-base: 0;
}

/* ==========================================================================
	Transitions / Animations timings
	========================================================================== */

:root {
	--duration-fast: 150ms;
	--duration-standard: 300ms;
	--duration-long: 500ms;
}

/* ==========================================================================
	Typography
	========================================================================== */

:root {
	--font-weight-bold: 500;
	--font-weight-regular: 400;
	--font-weight-light: 300;
}

/* ==========================================================================
	Layout
	========================================================================== */

:root {
	--max-width-layout: min(120rem, 90vw);
	--background-color-light: var(--color-white);
	--background-color-dark: var(--color-dark);
}
