# Dependencies

## Node.js

node_modules/

## Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

## Output
dist/

## Astro
.astro/

## Wrangler
worker-configuration.d.ts
.wrangler

# Editors

## Zed
.zed

# Operating systems

## MacOS
.DS_Store
