@import "../../styles";

:root {
    --color-dark-blue: #1e247e;
    --color-light-blue: #69aef8;
}

.st15,
.st24 {
    fill: var(--color-white);
    stroke: var(--color-dark-blue);
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st24 {
    fill: none;
    stroke: var(--color-white);
    stroke-width: 7;
}

.st25,
.st34,
.st47,
.st50,
.st55 {
    fill: none;
    stroke: var(--color-dark-blue);
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st34 {
    stroke-linejoin: round;
    stroke-width: 6;
}

.st47,
.st50,
.st55 {
    stroke-width: 5;
}

.st50,
.st55 {
    fill: var(--color-light-blue);
    stroke-width: 6;
    stroke-linejoin: round;
}

.st55 {
    fill: none;
    stroke-width: 2.5;
}

.cloud {
    animation: bounce 1500ms ease-in-out infinite alternate;

    &:not(:first-of-type) {
        animation-delay: 500ms;
    }
}

.ship {
    animation: bounce 1500ms ease-in-out 1000ms infinite alternate;
}

@keyframes bounce {
    from { transform: translateY(0); }
    to { transform: translateY(-2rem); }
}
