@import "../../styles";

.container {
    @mixin typography-tag;

    width: fit-content;
    height: fit-content;
    padding: 0.5rem 1.5rem;
    display: inline-block;
    border-radius: 0.3rem;
    color: var(--color-white);
    transition: background-color var(--duration-standard) ease-in-out var(--duration-standard);
}
