@import "../../styles/index.css";

.container {
	padding: 15rem 0;
	display: flex;
}

.navigation {
	margin-left: auto;
	display: flex;
	align-self: center;

	& > *:not(:last-child) {
		margin-right: 2.5rem;
	}
}

.link {
	display: flex;
	align-items: center;
	white-space: nowrap;
}

/* 75em = 120rem = max-width-layout */
@media (width <= 75em) {
	.container {
		padding-right: 3rem;
		padding-left: 3rem;
	}
}

@media (--layout-small) {
	.container {
		padding-top: 5rem;
		padding-bottom: 5rem;
		flex-direction: column;
	}

	.navigation {
		margin: 2rem auto 0;

		& > *:not(:last-child) {
			margin-right: 2rem;
		}
	}
}

@media (--layout-xsmall) {
	.link {
		font-size: 1.3rem;
	}
}
