<blockquote class="mt-1 max-w-4xl text-xl md:text-2xl lg:leading-12 lg:text-3xl font-light">
	<p>
		Fullstack Developer, previously at <a href="https://motionapp.com/" target="_blank" rel="noreferrer noopener nofollow">Motion</a>.
	</p>
	<p>Lifelong learner pursuing a career in Product Development.</p>
	<p>Interested in Programming, UI/UX, 3D and <a href="https://500px.com/ivolimasilva" target="_blank" rel="noreferrer noopener nofollow">Photography</a>.</p>
</blockquote>
