<blockquote class="mt-1 max-w-4xl text-xl font-light md:text-2xl lg:text-3xl lg:leading-12">
	<p>
		Product Engineer, building the next level CRM at <a href="https://attio.com/" target="_blank" rel="noreferrer noopener nofollow"
			>Attio</a
		>.
	</p>
	<p>Lifelong learner pursuing a career in Product Development.</p>
	<p>
		Interested in Programming, UI/UX and <a href="https://500px.com/ivolimasilva" target="_blank" rel="noreferrer noopener nofollow"
			>Photography</a
		>.
	</p>
</blockquote>
