---
import Link from './Link.astro';
---

<blockquote class="mt-1 max-w-4xl text-lg leading-12 font-light md:text-3xl">
	<p>
		Fullstack Developer, previously at <Link href="https://motionapp.com/" target="_blank" rel="noreferrer noopener nofollow">Motion</Link>.
	</p>
	<p>Lifelong learner pursuing a career in Product Development.</p>
	<p>Interested in Programming, UI/UX, 3D and <Link href="https://500px.com/ivolimasilva">Photography</Link>.</p>
</blockquote>
