---
import type { HTMLAttributes } from 'astro/types';
import type { Organization } from '../types';
import Location from './Location.astro';
import Link from './Link.astro';

interface Props extends Organization, HTMLAttributes<'div'> {}

const { name, url, location, class: className, ...rest } = Astro.props;
---

<div {...rest} class:list={['flex flex-col', className]}>
	<div class="mb-3 flex items-center gap-2">
		<Link href={url}>
			<h3 class="text-xl">
				{name}
			</h3>
		</Link>
		<Location>{location}</Location>
	</div>
	<slot />
</div>
