---
import Avatar from './Avatar.astro';
import Link from './Link.astro';
import { links } from '../data/links';
---

<header class="flex flex-col items-center gap-4 lg:flex-row">
	<Avatar />
	<div>
		<h1 class="text-xl font-bold">Ivo Lima Silva</h1>
		<h2>Software Developer</h2>
	</div>
	<nav class="ml-auto flex gap-6">
		{
			links.map((link) => (
				<Link href={link.url} target="_blank" rel="noopener noreferrer">
					{link.name}
				</Link>
			))
		}
	</nav>
</header>
