---
import Avatar from './Avatar.astro';
import Link from './Link.astro';
import ThemeToggle from './ThemeToggle.astro';
import { links } from '../data/links';
---

<header class="flex flex-col items-center gap-4 lg:flex-row">
	<Avatar />
	<div class="flex flex-col items-center lg:items-start">
		<h1 class="text-2xl lg:text-xl font-bold">Ivo Lima Silva</h1>
		<h2 class="text-l lg:text-md">Software Developer</h2>
	</div>
	<nav class="lg:ml-auto flex gap-6 items-center">
		{
			links.map((link) => (
				<Link href={link.url} target="_blank" rel="noopener noreferrer">
					{link.name}
				</Link>
			))
		}
		<ThemeToggle />
	</nav>
</header>
