---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {}

const { class: className, target = '_blank', rel = 'noreferrer noopener nofollow', ...rest } = Astro.props;
---

<style>
	a {
		position: relative;
		color: --alpha(currentColor / 60%);

		&::after {
			content: '';
			position: absolute;
			right: 0.1rem;
			bottom: 0;
			left: 0.1rem;
			height: 0.1rem;
			transform: scale(0);
			transform-origin: left;
			background-color: currentColor;
			transition-property: transform;
			transition-timing-function: ease-in-out;
		}

		&:hover::after,
		&:focus::after,
		&:active::after {
			transform: scale(1);
		}
	}
</style>

<a target={target} rel={rel} {...rest} class:list={['after:duration-300', className]}><slot /></a>
