:root {
    --padding-vertical: 15rem;
    --size-rocket: 9.6rem;
}

.container {
    padding: var(--padding-vertical) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    display: flex;
    opacity: 1;
}

.rocket {
    width: var(--size-rocket);
    margin-top: 1rem;

    &:hover {
        cursor: pointer;
    }
}
