@import "../../styles/index.css";

.container {
	padding: 15rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.link {
	display: flex;
	opacity: 1;
}

.rocket {
	width: 9.6rem;
	margin-top: 1rem;

	&:hover {
		cursor: pointer;
	}
}
