@import "../../styles/index.css";

.container {
	display: flex;
}

.picture {
	animation: fade-in var(--duration-standard) ease-in-out calc(2 * var(--duration-standard)) backwards;
}

.infoContainer {
	margin-left: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media (--layout-small) {
	.container {
		flex-direction: column;
		align-items: center;
	}

	.infoContainer {
		margin: 1rem auto 0;
		align-items: center;
	}

	.title {
		margin-top: 0.5rem;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}
